@import url("normalize.css");

:root {
  --white: #ffffff;
  --black: #2f2f2f;
  --dark-blue: #407bff;
  --grey: #8f8f8f;

  --light-blue-1: #ecf2ff;
  --light-blue-2: #d7e3ff;
  --light-blue-3: #9ebbff;
  --light-blue-4:#8BAEFF;
  --orange: #ff9d43;
  --red: #ef5050;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --medium: 500;
  --bold: 700;
  --regular: 400;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  font-style: normal;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
p {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: sans-serif;
}

.is-hidden {
  display: none;
}

b {
  font-weight: 600;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  /* padding-left: 24px;
  padding-right: 24px; */
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;

  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;

  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
    padding-left: 90px;
    padding-right: 90px;

  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====== РАДІО ІНПУТИ  =======*/


input[type="radio"] {
  background-color: var(--dark-blue); 
  border: 1px solid var(--dark-blue); 
  border-radius: 1px; 
}


input[type="radio"]:hover {
  background-color: #003366; 
  border-color: #003366;
}


input[type="radio"]:checked {
  background-color:var(--dark-blue); 
  border-color: var(--dark-blue);
}